html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

\:focus
  outline: 0

body
  line-height: 1
  color: black
  background: white
  font-family: Oranienbaum

ol, ul
  list-style: none

table
  border-collapse: separate
  border-spacing: 0

caption, th, td
  text-align: left
  font-weight: normal

blockquote
  &:before, &:after
    content: ""

q
  &:before, &:after
    content: ""

blockquote, q
  quotes: "" ""

li 
	list-style: none

ul 
	padding: 0
	margin: 0

@import _fonts
@import _mnu

.wrapper
	width: 100%
	max-width: 1600px 
	margin: auto
	background: url("../img/bg_main.jpg") no-repeat 0 0 
	overflow: hidden

.nopadding
	padding: 0 !important	

.w_1057
	width: 1057px
	margin: auto

.w_1024
	width: 1024px !important
	margin: auto !important

.col-mnu
	min-height: 60px
	background-color: #FFF 
	padding-top: 20px !important
	box-sizing: border-box
	overflow: visible
	float: none !important
	ul
		display: block
		text-align: center
	li		
		display: inline-block
		margin: 0 8px		
	a
		color: black
		font-family: PTSerif
		font-size: 15px
		text-decoration: underline
		font-weight: bold 

.logo
	margin-left: 40px
	float: left

.uch-172
	height: 455px
	margin: auto
	width: 100%
	background: url("../img/uchastok.png") no-repeat center top -23px
	overflow: hidden

.go-look
	display: block
	background: url("../img/go-look.png") no-repeat 0 0
	width: 235px
	height: 45px

.col-logo-contacts
	float: left
	width: 50%

.col-top-contacts 
	float: left
	width: 50%

.top-contacts
	padding-top: 7px
	float: right	
	color: white
	font-family: PTSerifB
	font-weight: bold 
	font-size: 17px
	width: 280px
	p
		margin-bottom: 10px
		text-shadow: 0 0 29.4px rgba(255, 255, 255, 0.34)
	span
		text-shadow: 0 0 29.4px rgba(255, 255, 255, 0.34)		
		font-size: 26px
		display: block
		margin-bottom: 20px

.good-day
	overflow: hidden

.header_mod
	background: url("../img/podlog.png") no-repeat 0 0
	width: 100%
	max-width: 1057px 
	height: 69px
	text-shadow: 0 4px 6px rgba(0, 0, 0, 0.75)
	color: white
	font-family: PTSerifB
	font-size: 34px
	font-weight: bold
	line-height: 1.6
	text-align: center
	position: relative
	z-index: 10

.text-mod
	background-color: #fff
	overflow: hidden 
	color: black
	font-family: PTSerif
	font-size: 20px
	line-height: 1.5
	padding: 50px 15px
	box-sizing: border-box
	margin-top: -8px !important

.slider
	.text-mod
		padding: 0
		font-size: 0

.plan
	.text-mod
		padding-bottom: 30px
	table
		width: 100%
		td
			text-align: center
			color: #020000
			font-family: PTSerifB
			font-size: 34px
			font-weight: bold
			text-align: center
		tr
			&:first-child
				td
					&:first-child
						width: 40%
						text-align: left
						padding-left: 30px
					&:nth-child(2)
						width: 60%
						vertical-align: top
			
.down-doc
	width: 1024px
	height: 107px
	background-color: #e5e7e8
	color: #020000
	font-family: PTSerif
	font-size: 34px
	font-weight: 400
	line-height: 3.2
	padding-left: 35px
	box-sizing: border-box

.pdf-down
	display: block
	float: right
	background: url("../img/pdf.png") no-repeat 0 0
	width: 73px
	height: 73px
	margin-top: 20px
	margin-right: 100px
		
.poselok
	.text-mod
		background: #E5E6E8 url("../img/poselok-bg.jpg") no-repeat left 0 top -30px
		padding-top: 305px
		padding-bottom: 15px
		

.tur
	.text-mod
		font-size: 0
		padding: 0

.foto-poselka
	.text-mod
		padding: 25px
		background-color: #E5E7E8 
		ul
			display: block
			text-align: center
			li
				display: inline-block
				margin-right: 12px
				&:last-child
					margin-right: 0
				
.review
	width: 461px
	min-height: 254px
	border-radius: 5px
	background-color: #E5E7E8 	
	padding: 25px 10px
	box-sizing: border-box
	position: relative
	float: left
	margin-bottom: 65px
	&:nth-child(2n-1)
		margin-right: 55px
	&:after
		display: block
		content: "" 
		position: absolute
		bottom: -36px
		right: 80px
		width: 88px
		height: 37px
		background: url("../img/review-corner.png") no-repeat 0 0

.review-text
	font-family: PTSerifI
	color: #000 
	font-size: 17px
	word-spacing: 5px 
	margin-bottom: 20px
	padding-bottom: 70px
	box-sizing: border-box
	p
		margin-bottom: 15px

.reviewer
	font-family: PTSerifB
	font-size: 20px	
	position: absolute
	bottom: 20px
	left: 20px
	padding-right: 20px
	img
		float: left
		margin-right: 20px
	span
		margin-top: 20px
		display: inline-block

.w_860
	width: 860px
	margin: auto
	text-align: center
	overflow: hidden
	position: relative
	background: url("../img/dash.png") repeat-x left center
	
.view-all-reviews
	display: inline-block
	margin: auto
	height: 52px
	border: 2px solid #e5e7e8
	border-radius: 10px
	color: black
	font-family: PTSerif
	font-size: 28px
	font-weight: 400
	line-height: 1.5
	text-decoration: underline
	padding: 0 10px
	background-color: #fff

.reviews-cantainer
	height: 310px
	overflow: hidden

.reviews-cantainer-full
	height: auto	

.karta-poselka
	.text-mod
		padding: 0
		text-align: center
		font-size: 0

.kontakty
	.text-mod
		padding: 0
		font-size: 0

@import _media